[submodule "libs/linenoise"]
	path = libs/linenoise
	url = https://github.com/antirez/linenoise
[submodule "libs/core"]
	path = libs/core
	url = https://github.com/MartinNikolovMarinov/core.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
